* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    padding: 16px;
    padding-bottom: 0;
    background-color: #ededef;
}
.btn {
    background-color: #a05840;
    color: #fff;
    padding: 10px 60px;
    border: none;
    margin-top: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover {
    color: #000;
    background-color: #ccc;
}
/* HEADER */
header {
    color: #a05840;
    padding-bottom: 16px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left h3 {
    margin-right: 30px;
    font-size: 20px;
}
.header__left--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left--navbar p a{
    margin-right: 14px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: #a05840;
}.header__left--navbar p:hover, .header__right p:hover {
    color: #000;
}
.header__right {
}
.header__right a {
    text-decoration: none;
    color: #a05840;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* CAROUSEL */

.carousel {
    background: url("../img/pic8.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
}
.carousel__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel__contain {
    width: 100%;
    height: 100%;
    padding: 16px;

    background-color: rgba(1, 1, 1, 0.5);
}
.carousel__desc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__desc p {
    /* text-decoration: underline; */
    font-size: 20px;
    margin: 0 40px;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 16px;
}
.carousel__container h1 {
    width: 900px;
    font-size: 80px;
    padding: 28px 0;
    letter-spacing: 12px;
}
.carousel__container p {
    letter-spacing: 6px;
}
/* PLANT */
.plant {
    height: 384px;
    margin-top: 6px;
    text-align: center;
}
.plant__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}
.plant__item {
    position: relative;
}
.plant__content {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.plant__content .btn {
    width: 214px;
    margin-top: 8px;
}
.plant__content h3 {
    color: #a05840;
    font-size: 24px;
    letter-spacing: 6px;
}
.plant__content hr {
    margin: 4px auto 0;
}
.plant__image img {
    width: 100%;
    height: 100%;
}

/* ABOUT */
.about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.about__item {
    text-align: center;
}
.about__item img {
    width: 100%;
    height: 100%;
}
.about__item-des {
    grid-column: 1 / 3;
    padding: 40px 106px;
    background-color: #fff;
    color: #a05840;
}
.about__item-des h3 {
    letter-spacing: 6px;
    font-weight: normal;
}
.about__item-des hr {
    margin: 14px auto;
}
.about__item-des .about__text p:first-child {
    margin-bottom: 20px;
}
.about__item--4 {
    grid-column: -5 / -3;
}
.about__item--5 {
    grid-column: -3 / -1;
    background-color: #123133;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
}
.about__item--container {
    margin: auto;
}
.about__item .btn {
    color: #000;
    background-color: #fff;
}
.about__item .btn:hover {
    color: #fff;
    border: none;
    background-color: #a05840;

}
/* CONTACT */
.contact {
    height: 700px;
    background-image: url("../img/pic8.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact__container {
    background-color: #fff;
    width: 50%;
    padding: 10px;
}
.contact__container h3 {
    letter-spacing: 6px;
    font-weight: normal;
        background-color: #fff;
    color: #a05840;
}
.contact__container hr {
    margin: 14px auto 20px;
}
.contact__contain--flex {
    display: flex;
    justify-content: flex-start;
}
.contact__contain--flex  .contact__input:first-child {
    margin-right: 153px;
}
.contact__contain--flex  .contact__input input {
    width: 180%;
}
.contact__input input {
    width: 100%;
    height: 26px;
    border: 2px solid #000;
}
.contact__input label {
    display: block;
    text-align: left;
    margin: 4px 0;
}
.contact__input textarea {
    resize: none;
    width: 640px;
    height: 208px;
    border: 2px solid #000;

}
.contact__container .btn {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 10px;
}
/* FOOTER */
footer {
  background-color: #00cdce;
  padding: 40px;
}
.footer__content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
footer .footer__content p {
  margin-bottom: 0;
}
.footer__content p a, .footer__content p span {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.footer__wrapper-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__wrapper-icon i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #fff;
    text-align: center;
    margin: 0 6px;
    transition: all 0.8s;
    cursor: pointer;
    font-size: 14px;
}
footer div i:nth-child(1):hover {
  color: #3b5998;
}
footer div i:nth-child(2):hover {
  color: #55acee;
}
footer div i:nth-child(3):hover {
  color: #f26522;
}
footer div i:nth-child(4):hover {
  color: #45668e;
}